*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.container-principale{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 80vh;
    width: 90vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 10px;
    padding-bottom: 10px;
}

.box-view1{
    position: fixed;
    position: absolute;
    right: 0;
    margin-right: 70px;
    margin-top: 20px;
    padding: 7px;
    background-color: rgb(61, 61, 61);
    border-radius: 7px;
    z-index: 1;

}


.box-view2{
    position: fixed;
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
    z-index: 1;
    padding: 7px;
    background-color: rgb(61, 61, 61);
    border-radius: 7px;
}    

.container-box-view{
    background-color: aqua;
}

.speaker-view{
    color: white;
}

.blocco{
    width: calc(95%/7);
    max-height: calc(95%/5);
    margin: 5px;
    position: relative;
}

.img-box{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name-box{
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5)
    
}

.name{
    font-size: 15px;
    color: white;
}

.nav-bar{
    background-color: rgba(34,34,34,255);
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.box-nav1{
    height: 8vh;
    display: flex;
   
}

.box-nav2{
    height: 8vh;
    display: flex;
}

.box-nav3{
    background-color: rgb(141, 141, 141, 0.5);
    color: red;
    height: 8vh;
    display: flex;
}


.box-icon, .box-icon-green, .box-freccia, .end-meeting{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.end-meeting{
    color: rgb(186, 13, 13);
    font-size: 15px;
    font-weight: 900;
}


.box-nav1 i{
    font-size: 25px;
    padding-bottom: 5px;
}

.box-nav2 i{
    font-size: 25px;
    padding-bottom: 5px;
}


.box-icon-green i{
    color: rgb(9, 255, 0);
}

.box-icon a span{
    font-size: 15px;
}

